$colorMain: #78b43d;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: black;

    img {
        width: 100%;
    }

    a {
        color: black;
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    article {
        display: block;
        color: $colorMain;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        border-bottom: solid 2px $colorMain;
        cursor: pointer;
    }
}

.header {
    background: $colorMain;

    div {
        div {
            text-align: center;
            padding: 5px 4px;

            i {
                font-size: 18px;
                color: white;
            }

            a {
                text-transform: uppercase;
                color: white;
            }

            &:nth-child(2) {
                border-left: solid 1px white;
                border-right: solid 1px white;
            }

            &:last-of-type {
                border-left: solid 1px white;
                border-right: solid 1px white;
                margin: 0 20px;

                i {
                    font-size: 20px;
                    margin: 10px;
                }
            }
        }

        .menu {
            position: relative;

            &:hover {
                .menu-bar {
                    display: block;
                }
            }

            .menu-bar {
                position: absolute;
                z-index: 1;
                background: #aad862;
                top: 100%;
                left: 0;
                width: 200%;
                display: none;

                li {
                    text-align: left;
                    padding: 5px;
                    border-bottom: solid 1px $colorMain;

                    a {
                        text-transform: inherit;
                        color: black;
                        font-size: 12px;
                        font-weight: 400;
                        text-decoration: none;
                    }

                    &:hover {
                        a {
                            color: white;
                            font-weight: 600;
                        }
                    }
                }

                .__menu-bar {
                    position: relative;

                    .__menu-bar-2 {
                        position: absolute;
                        left: 100%;
                        z-index: 1;
                        width: 100%;
                        top: 0;
                        background: $colorMain;
                        display: none;

                        li {
                            border-bottom: solid 1px #aad862;

                            a {
                                color: black;
                                text-transform: capitalize;
                                font-weight: 400;
                            }

                            &:hover {
                                a {
                                    color: white;
                                }
                            }
                        }
                    }

                    &:hover {
                        .__menu-bar-2 {
                            display: block;
                        }
                    }
                }
            }

            &:nth-child(1) {
                .menu-bar {
                    right: 0;
                }
            }
        }

        .search {
            position: relative;

            &:hover {
                input {
                    display: block;
                }
            }

            input {
                display: none;
                position: absolute;
                right: 100%;
                width: 1800%;
                height: 80%;
                top: 4px;
            }
        }
    }
}

.contain {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .__contain {
        width: 70%;
    }

    .ads {
        width: 30%;

        .advertisement {
            span {
                float: right;
                font-size: 12px;
                color: gray;
                cursor: pointer;
            }
        }

        .news {
            margin: 10px 0;

            .__new {
                .__new-contain {
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;

                    div {

                        &:first-child {
                            width: 34%;
                        }

                        &:last-child {
                            width: 63%;

                            &:hover {
                                a {
                                    color: $colorMain;
                                    text-decoration: none;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }

        .market {
            article {
                span {
                    .icon {
                        border: none;
                        background: none;
                        font-size: 25px;
                        padding: 0 5px 0 0;
                        color: $colorMain;
                    }
                }
            }

            .__market {
                background: #fafafa;
                border-radius: 7px;
                padding: 5px 7px;
                border: solid 1px #dcd9d9;
                margin: 5px 0;

                .row {
                    .row-1 {
                        font-weight: 700;
                    }

                    .row-3 {
                        i {
                            color: $colorMain;
                        }
                    }

                    .row-4 {
                        color: $colorMain;
                    }

                    .row-5 {
                        @extend .row-4;
                    }
                }
            }

            .__info-market {
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    background: #fafafa;
                    padding: 1px 10px;
                    border-radius: 7px;
                    font-weight: 400;
                    border: solid 1px #dcd9d9;
                }
            }
        }
    }
}
